@charset "UTF-8";
BODY {font-family: 'Headland One', serif;}

H1 {font-weight: 900;}

#bizcanvas {
  border: 3px solid black;
  width: 100%;
/*   background-color: #B9F5D3; */
  background-color: #f0c79b;
  width: 1500px;
  height: 700px;
  margin-left: 8rem;
/*   margin-top: 3rem; */ 
/*   background-image: url('../img/pizarra.jpeg'); */
  
}
/*
	Borde blanco para lienzo A dotted border


*/

#bizcanvas td {
  vertical-align: top;
  height: 200px;
  width: 200px;
  padding: 6px;
}


#bizcanvas H4 {
  font-weight: 700;
  font-size: 1em;
}

#bizcanvas H5 {
  font-weight: 700;
  font-size: 0.7em;
}

#bizcanvas p {
  font-weight: 300;
  font-size: 0.8em;
}

.container-canvas{
	
	margin-left:0;
}
