@charset "UTF-8";
*
{
    -webkit-tap-highlight-color: transparent;
    outline: none;
}


.checkbox-circle
{
    display: none;
}

.lienzo label
{
/*     position: relative; */
/*     top: 50%; */
/*     right: 0; */
/*     left: 0; */
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: #6953b7;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: 0 7px 10px #ffbeb8;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
}

.lienzo label:before
{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: inset 0 7px 10px #ffbeb8;
    transition: 0.2s ease width, 0.2s ease height;
}

.lienzo label:hover:before
{
    width: 55px;
    height: 55px;
    box-shadow: inset 0 7px 10px #ff9d96;
}

.lienzo label:active
{
    transform: translateY(-50%) scale(0.9);
}

.tick_mark
{
    position: absolute;
    top: -1px;
    right: 0;
    left: 0;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-left: 14px;
    transform: rotateZ(-40deg);
}

.tick_mark:before, .tick_mark:after
{
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    opacity: 0;
    transition: 0.2s ease transform, 0.2s ease opacity;
}

.tick_mark:before
{
    left: 0;
    bottom: 0;
    width: 10px;
    height: 30px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.23);
    transform: translateY(-68px)
}

.tick_mark:after
{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.23);
    transform: translateX(78px)
}

#check_sociosClave:checked + label
{
    background-color: #07d410;
    box-shadow: 0 7px 10px #92ff97;
}
#check_actividadesClave:checked + label
{
    background-color: #07d410;
    box-shadow: 0 7px 10px #92ff97;
}
#check_recursosClave:checked + label
{
    background-color: #07d410;
    box-shadow: 0 7px 10px #92ff97;
}
#check_propuestaValor:checked + label
{
    background-color: #07d410;
    box-shadow: 0 7px 10px #92ff97;
}
#check_relacionClientes:checked + label
{
    background-color: #07d410;
    box-shadow: 0 7px 10px #92ff97;
}
#check_canales:checked + label
{
    background-color: #07d410;
    box-shadow: 0 7px 10px #92ff97;
}
#check_segmentacionClientes:checked + label
{
    background-color: #07d410;
    box-shadow: 0 7px 10px #92ff97;
}
#check_estructuraCostos:checked + label
{
    background-color: #07d410;
    box-shadow: 0 7px 10px #92ff97;
}
#check_fuentesIngreso:checked + label
{
    background-color: #07d410;
    box-shadow: 0 7px 10px #92ff97;
}

.checkbox-circle:checked + label
{
    background-color: #07d410;
    box-shadow: 0 7px 10px #92ff97;
}

.checkbox-circle:checked + label:before
{
    width: 0;
    height: 0;
}

.checkbox-circle:checked + label .tick_mark:before, .checkbox-circle:checked + label .tick_mark:after
{
    transform: translate(0);
    opacity: 1;
}