@charset "UTF-8";

:root{
	--postit1: #de794b; 
	--postit2: #6fb9c6;
	--postit3: #ece9d6;
}


	#bizcanvas h2,p{
        font-size:100%;
        font-weight:normal;
        color: black;
    }
    #bizcanvas ul,li{
        list-style:none;
    }
    #bizcanvas ul{
        overflow:hidden;
/*         padding:3em; */
    }
    #bizcanvas ul li a{
        text-decoration:none;
        color:#000;
        background:#f6ff7a;
        display:block;
        height:5em;
        width:4em;
/*         padding:1em; */
        -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
        /* Safari+Chrome */
        -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
        /* Opera */
        box-shadow: 5px 5px 7px rgba(33,33,33,.7);
        -moz-transition:-moz-transform .15s linear;
        -o-transition:-o-transform .15s linear;
        -webkit-transition:-webkit-transform .15s linear;
    }
    #bizcanvas ul li{
        margin:1em 0.4rem;
        float:left;
        width: 18% !important;
    }
    #bizcanvas ul li h2{
        font-size:12px;
        font-weight:bold;
        margin: 0;
/*         padding-bottom:10px; */
    }
    #bizcanvas ul li p{
        font-family:"Reenie Beanie",arial,sans-serif;
        font-size:10px;
    }
    #bizcanvas ul li:nth-child(even) a{
        -o-transform:rotate(4deg);
        -webkit-transform:rotate(4deg);
        -moz-transform:rotate(4deg);
        position:relative;
        top:5px;
/*         background: #FDB813; */
    }
    #bizcanvas ul li:nth-child(3n) a{
        -o-transform:rotate(-3deg);
        -webkit-transform:rotate(-3deg);
        -moz-transform:rotate(-3deg);
        position:relative;
        top:-5px;
/*         background:#f26b6b; */
    }
    #bizcanvas ul li:nth-child(4n) a{
/*         background:#f4a460; */
    }    
    #bizcanvas ul li:nth-child(5n) a{
        -o-transform:rotate(5deg);
        -webkit-transform:rotate(5deg);
        -moz-transform:rotate(5deg);
        position:relative;
        top:-10px;
/*         background: #6bbcf2; */
    }
    #bizcanvas ul li a:hover,ul li a:focus{
        -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
        -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
        box-shadow:10px 10px 7px rgba(0,0,0,.7);
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -o-transform: scale(1.4);
        position:relative;
        z-index:10;
    }
    
    #bizcanvas ul li a:hover h2,ul li a:focus h2{
    	font-size: 12px;
    	text-align: center;
    	color: black;
    	padding: 0px 8px 0px 8px;
    }

     #bizcanvas ul li a:hover p,ul li a:focus p{
    	font-size: 10px;
    	text-align: center;
    	color: black;
    	padding-left: 10px;
    }
    
    /*Socios clave*/
    #bizcanvas .sociosclaves ul li:nth-child(3n) a{
        background: var(--postit2);
    }
    #bizcanvas .sociosclaves ul li:nth-child(3n+1) a{
        background: var(--postit3);
    }
    #bizcanvas .sociosclaves ul li:nth-child(3n+2) a{
        background: var(--postit1);
    }
    
    /*Actividades clave*/
    #bizcanvas .actividadesClave ul li:nth-child(3n) a{
        background: var(--postit1);
    }
    #bizcanvas .actividadesClave ul li:nth-child(3n+1) a{
        background: var(--postit2);
    }
    #bizcanvas .actividadesClave ul li:nth-child(3n+2) a{
        background: var(--postit3);
    }
    
    /*Propuesta valor propuestaValor*/
    #bizcanvas .propuestaValor ul li:nth-child(3n) a{
        background: var(--postit3);
    }
    #bizcanvas .propuestaValor ul li:nth-child(3n+1) a{
        background: var(--postit1);
    }
    #bizcanvas .propuestaValor ul li:nth-child(3n+2) a{
        background: var(--postit2);
    }
    
    /*Propuesta valor relacionClientes*/
    #bizcanvas .relacionClientes ul li:nth-child(3n) a{
        background: var(--postit1);
    }
    #bizcanvas .relacionClientes ul li:nth-child(3n+1) a{
        background: var(--postit2);
    }
    #bizcanvas .relacionClientes ul li:nth-child(3n+2) a{
        background: var(--postit3);
    }
    
     /*Propuesta valor segmentosClientes*/
    #bizcanvas .segmentosClientes ul li:nth-child(3n) a{
        background: var(--postit2);
    }
    #bizcanvas .segmentosClientes ul li:nth-child(3n+1) a{
        background: var(--postit3);
    }
    #bizcanvas .segmentosClientes ul li:nth-child(3n+2) a{
        background: var(--postit1);
    }
    
    /*Propuesta valor recursosClave*/
    #bizcanvas .recursosClave ul li:nth-child(3n) a{
        background: var(--postit1);
    }
    #bizcanvas .recursosClave ul li:nth-child(3n+1) a{
        background: var(--postit3);
    }
    #bizcanvas .recursosClave ul li:nth-child(3n+2) a{
        background: var(--postit2);
    }
    
     /*Propuesta valor estructuraCostos*/
    #bizcanvas .canales ul li:nth-child(3n) a{
        background: var(--postit2);
    }
    #bizcanvas .canales ul li:nth-child(3n+1) a{
        background: var(--postit3);
    }
    #bizcanvas .canales ul li:nth-child(3n+2) a{
        background: var(--postit1);
    }
    
    /*Propuesta valor estructuraCostos*/
    #bizcanvas .estructuraCostos ul li:nth-child(3n) a{
        background: var(--postit3);
    }
    #bizcanvas .estructuraCostos ul li:nth-child(3n+1) a{
        background: var(--postit2);
    }
    #bizcanvas .estructuraCostos ul li:nth-child(3n+2) a{
        background: var(--postit1);
    }

     /*Propuesta valor fuentesIngreso*/
    #bizcanvas .fuentesIngreso ul li:nth-child(3n) a{
        background: var(--postit3);
    }
    #bizcanvas .fuentesIngreso ul li:nth-child(3n+1) a{
        background: var(--postit1);
    }
    #bizcanvas .fuentesIngreso ul li:nth-child(3n+2) a{
        background: var(--postit2);
    }
    
    
    