@charset "UTF-8";
:root {
    --bg: #fdfdfd;
    --highlight1: #ED4264;
    --highlight2: #FFEDBC;
    --color: #1a1e24;
    --font-number: Montserrat, Roboto, Helvetica, Arial, sans-serif;
    --font-head: "Space Mono", Consolas, Menlo, Monaco, "Courier New", monospace;
    --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


*{
	margin: 0;
	padding: 0;
	border: 0;
}
html{
	font-size: 100%; /*Por defecto es 16px*/
}
html,body{
    height: 100%;
}

header{
    background-color: #F7FCF9;
}

textarea {
  resize: none;
}

.txt-middle{
    text-align: center;
    font: 35px Arial, sans-serif;
}

.content-login{
    background-color: #D2E8DC;
    width: 30rem;
    height: 30rem;
    margin: auto;
    margin-top: 10%
}

.container{
  margin-top: 4rem;
}

a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
/*     margin: 40px 8px 10px 8px;  */
/*     color: #cccccc; */
  }
  
  
  
  /* STRUCTURE */
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  
  
  
  /* TABS */
  
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
  
  
  
  /* FORM TYPOGRAPHY*/
  
  input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text], input[type=password], input[type=email] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder {
    color: #cccccc;
  }
  
  input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=password]:placeholder {
    color: #cccccc;
  }
  
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  
  
  
  /* OTHERS */
  
  *:focus {
      outline: none;
  } 
  
  #icon {
    width:60%;
  }

  .input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  .input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .input-group.md-form.form-sm.form-2 input.red-border {
    border: 1px solid #ef9a9a;
  }
  .input-group.md-form.form-sm.form-2 input.lime-border {
    border: 1px solid #cddc39;
  }
  .input-group.md-form.form-sm.form-2 input.amber-border {
    border: 1px solid #ffca28;
  }

  .mr-ri{
    margin-right: 10%;
  }
  
  .mr-lf{
    margin-left: 10%;
  }

  section > div{
    margin-bottom: 100px;
  }

  .new-proy input[type=text]{
    width: 70%;
    text-align: left;
  }

  .btn-primary.btn-right{
    float: right;
    width: 15%;
    background-color: #9e1b32 !important;
  }

  input[type=text].form-nw-proy{
    background-color: #fff;
    padding: 1px 32px;
  }

  .bk-red{
    background-color: #9e1b32 !important;
    color: #fff;
    font-size: 1.5rem;
  }

  .fl-right{
    float: right;
  }

  .mrg-form{
    margin-bottom: 3rem;
  }

  .mrg-bot-16{
    margin-bottom: 1rem;
  }

  .table-no-borde td{
    border: none !important;
  }

  .table-no-borde tr:hover > td{
    background-color: #fff !important;     
  }

  .block{
    display: block;
  }

  ul > li {
/*     width: 30%; */
/*     margin-right: 50rem; */
  }

  ul > li.nav-item{
    margin-right: 0;
  }
  
  .table-lienzo td{
  	border: 1px solid black;
  }
  
  .options-home{
  	display: flex;
    justify-content: space-around;
    margin: 0 4rem;
    margin-top: 1.5rem;
  }
  
  .border-1{
  	border: 1px solid black;
  }
  
  .current{
  	background-color: #BEDAC9;
  	text-align: center;
  }
  
  li > a{
  	font-family: "Times New Roman", Times, serif;
    font-size: larger;
    font-weight: bold;
    color: black;
    padding-top: 5px;
  }
  
  li > a:hover{
  	text-decoration: none;
  	color: black;
  }
  
  .header-principal ul li {
/*     width: 100%; */
    height: 100%;
/*     display: flex; */
    justify-content: space-between;
  }
  
  .flex-vertical {
  	display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-content {
  	border-radius: 30px;
/*   	background-color: #D0DE41; */
	background-color: #597D7B !important;
  }
  
  .modal-content p, .modal-content ul li{
  	color: #fff;
  }
  
  
  
  .card.hipotesis{
  	background-color: #c8e7ec;
  }
  
.my-custom-scrollbar {
	position: relative;
	height: 200px;
	overflow: auto;
}
.table-wrapper-scroll-y {
	display: block;
}
.table{
	background-color: #fff;
}
.modal-content.hipotesis{
	width: 40rem;
    padding: 20px;
}
/* .crear-experimento-container{ */
/* 	margin: 2rem 5rem; */
/* 	padding-right: 20rem; */
/* } */
.table-edit-hipotesis{
	width: 100%;
	display:flex;
}
/* .crear-experimento-container div{ */
/* 	margin: 10px 0; */
/* 	padding-left: 10rem; */
/* /* 	margin-right: 35rem; */ */
/* /* 	padding-right: 5rem; */ */
/* }  */
 
#tableAreas_wrapper{
	width: 50%;
    padding-left: 10px;	
}

.flex-wrap{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.red-req{
	color:red;
	
}
 
.table-hipotesis { 
  border-spacing: 1; 
  border-collapse: collapse; 
  border-radius:6px;
  overflow:hidden;
  max-width:800px; 
  width:100%;
  margin:0 auto;
  position:relative;
}

 
  
.table-hipotesis  td,th           { padding-left:8px}

.table-hipotesis  thead tr        { 
    height:30px;
/*     background:#FFED86; */
    font-size:16px;
  }
  
  
.table-hipotesis tbody tr        { height:30px; border-bottom:1px solid #E3F1D5 ;
    
  }
  
 .color-button{
 	background-color: #fff !important;
 }
 
 .button-principal{
 	background-color: #ECE9D6 !important;
 	color: black !important;
 }
 
 table.dataTable tbody tr.selected {
    background-color: #6FB9C6 !important;
    color: #fff !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ECE9D6 !important;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #ECE9D6 !important;
}
 
.color-white{
	color: #fff;	
}

.btn-group a{
	color: #fff;
	
}

.btn-group a:hover{
	color: #fff;
	text-decoration: none;
}

.btn-filtro{
    color: #fff;
    background-color: #597D7B;
    border-color: #597D7B;
}

/*Para barra scroll*/
.scrollbar{
	margin-left: 30px;
	height: 300px;
	width:125%;
	background: #FFF;
	overflow-y: scroll;
	margin-bottom: 25px;
}
.scrollbar label{
	text-align: left;
}
#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}

.scrollbar-comentario{
	margin-left: 15px;
	height: 700px;
	width:100%;
	overflow-y: scroll;
	margin-bottom: 25px;
}
.scrollbar-comentario label{
	text-align: left;
}

.width-50{
	width: 50%;
}



/*Para lista en cuadrados*/
.list-square{
  margin: auto;
  padding: 1% 2%;
  max-width: 1440px;
  border-radius: 5px;
/*   background: #ecf0f1; */
/*   box-shadow: 0 2px 6px 0 rgba(0,0,0, .3); */
}
.list-square h1, .list-square h2, .list-square h3{
  text-align: center;
  font-family: 'Baloo Tamma', cursive;
}
.list-square li{
  color: #2c3e50;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: 1px;
  font-family: 'Raleway', serif;
}
/*SG = style grid*/
.SG{
  margin: 0;
  padding: 0;
  text-align: center;
}
.SG .sgLi{
  min-width: 24%;
  margin: 2% .35%;
  display: inline-flex;
  box-shadow: 0 2px 4px rgba(0,0,0, .2);
}
.SG .sgLi:hover{
  box-shadow:0 5px 10px rgba(0,0,0,.15);}
.SG .box{
  width: 100%;
  height: 100vh;
  padding: 1% 2%;
  background: #fff;
  min-height: 200px;
  max-height: 220px;
  max-width: 428.41px;
  box-sizing: border-box;
}

#orangeBox {
    background: #f90;
    color: #fff;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin: auto;
    padding-top: 4px;
}

#inheritBox {
/*     background: #f90; */
    color: #fff;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    width: 40px;
/*     height: 40px; */
    border-radius: 5px;
    margin: auto;
    padding-top: 4px;
}

.div-timeline{
	text-align: left !important;
}

.list {
    list-style: none;
/*     width: 600px; */
/*     max-width: 90%; */
}

.item {
    display: block;
    clear: both;
    counter-increment: list;
    padding-bottom: 2rem;
    font-size: 1.1rem;
    line-height: 1.375;
    position: relative;
    display: flex;
}

.item:before {
    font: bold 2.25rem/1 var(--font-number);
    content: counter(list);
    width: 3rem;
    height: 3rem;
    float: left;
    margin: 0 1.5rem 0.75rem 0;
    color: var(--bg);
    background: var(--highlight1) linear-gradient(to bottom right, var(--highlight1) 25%, var(--highlight2));
    text-shadow: 0 0 2px var(--highlight1);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    shape-outside: ellipse();
    z-index: 1;
}

.item:after {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: var(--highlight1);
    z-index: -1;
    border-top-left-radius: 3px;
}


.headline {
    padding: 0rem 0 0 0;
    margin: 0 0 1rem 0;
    font: normal 2rem var(--font-head);
}




